.container {
  display: flex;
}

.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #333;
  color: white;
  position: fixed;
  top: 10%;
  left: 0;
  overflow-y: auto;
  transition: all 0.4s;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #555;
}

.content {
  margin-left: 7%;
  width: 93%;
  padding: 25px;
}

.dropdown-container {
  width: 100%;
  padding: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
  }

  .content {
    margin-left: 0;
    width: 100%;
  }
}
