
.navbar {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Sidebar styles */
.sidebar {
  width: 15%;
  height: calc(100vh - 65px); /* Adjust height based on the navbar height */
  background-color: #333;
  color: white;
  position: fixed;
  top: 65px; /* Adjust top based on the navbar height */
  left: 0;
  overflow-y: auto;
  transition: all 0.4s;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #555;
}

/* Main content area styles */
.content {
  margin-left: 15%; /* Adjust based on the sidebar width */
  padding: 80px 25px 25px 25px; /* Top padding to accommodate the fixed navbar */
}

/* Card styles */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card-asset-master {
  background-color: #f8d7da;
}

.card-software {
  background-color: #d1ecf1;
}

.card-readings {
  background-color: #fff3cd;
}

.card-attendance {
  background-color: #d4edda;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
  }

  .content {
    margin-left: 0;
    padding-top: 15px; 
  }
}
